@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9fbf0;
  padding: 10px 30px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 12px;
}

.brand-name {
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.brand-name :hover {
  color: red;
}

.nav-links a,
.nav-actions a {
  margin: 0 20px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.nav-links,
.nav-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.nav-actions span {
  font-weight: bold;
}

.lock-icon {
  margin-left: 10px;
}

.profile-icon {
  margin-left: 10px;
}


.hero-section2 {
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  color: white;
}

.hero-content1 {
  font-size: 40px;
  color: white;
  text-align: center;

}

.hero-content2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}



.category-title {
  margin-left: 50px;
  font-size: 28px;
  font-weight: bold;
  color: red;
  text-align: center;
}

.category-desc {
  margin-left: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.product-box {
  background-color: #f2f2f2;
}

.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.image-section {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.image-section img {
  width: 100%;
  max-width: 450px;
  border: 1px solid #ccc;
}

.photo-button {
  margin-top: 15px;
  padding: 10px 20px;
  border: 2px solid #008060;
  color: #008060;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.photo-button span {
  margin-right: 8px;
}

.info-section {
  flex: 1;
  min-width: 300px;
}

.info-section h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  color: #333;
}

.price a {
  color: #1a0dab;
  text-decoration: underline;
  margin-left: 10px;
}

.min-order {
  margin-top: 5px;
  font-size: 15px;
  color: #222;
}

.product-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.product-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.product-table td:first-child {
  background: #f9f9f9;
  font-weight: bold;
  width: 40%;
}

.product-description {
  margin-top: 15px;
  font-size: 16px;
}

.interest-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: red;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}



.footer {
  background-color: #003366;
  color: white;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 300px;
}

.footer-section h3 {
  color: red;
  border-bottom: 2px solid #ff0000;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
}

.ftcon {
  margin-right: 200px;
}

.footer-section {
  padding-left: 50px;
}

.footer-text p {
  margin: 6px 0;
  font-size: 18px;
  text-align: left;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
  font-size: 18px;
  text-align: left;
}

.map-container {
  margin-top: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #f0f0f0;
}

.footer-bottom p {
  color: black;
  font-size: 16px;
}